---
import Paint from '/paint.png';
import Portrait from '/main-portrait.png'
---

<div class="relative mx-12 flex flex-col items-center justify-center">
  <h1 class="text-xl">
    Enter Steve's Doodle-Dazzled <span class="font-bold">Digital Universe</span>
  </h1>
  <div class="relative">
     <svg class="absolute h-full w-full overflow-visible">
        <defs>
          <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style={{ stopColor: "#DC3A2B", stopOpacity: 1 }}
            ></stop>
            <stop offset="100%" style={{ stopColor: "#E18510", stopOpacity: 1 }}
            ></stop>
          </linearGradient>
        </defs>
        <path
          id="border-path"
          fill="none"
          stroke="url(#gradient)"
          stroke-width="4"></path>
      </svg>
    <p id="anim-p" class="p-6 text-base">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sint doloribus at eligendi error, ad deserunt consequatur, amet vitae magnam voluptatibus? 
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eius, ipsum nulla fuga reiciendis nostrum assumenda atque, expedita provident tempora necessitatibus? Quibusdam vel accusantium soluta! Aut ipsum sapiente eligendi! Nulla!
      <br /><br />
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit repellat, dignissimos ducimus distinctio ipsum voluptatibus voluptatum ratione eaque soluta.
    </p>
  </div>
  <div class="flex justify-center pt-12 text-center mb-12 xl:gap-16">
    <div class="w-32">
      <h2>Art Posts</h2>
      <p id="art-counter" class="text-xl font-bold">85</p>
    </div>
    <div class="w-32">
      <h2>Youtube</h2>
      <p id="youtube-counter" class="text-xl font-bold">1.2m</p>
    </div>
    <div class="w-32">
      <h2>Reviews</h2>
      <p id="reviews-counter" class="text-xl font-bold">50</p>
    </div>
  </div>
  <div class="relative">
    <img class="h-full rounded" src={Portrait} alt="portrait" />
    <div class="absolute bottom-0 translate-y-36">
      <img src={Paint} alt="paint" />
    </div>
  </div>
</div>
<div class="mt-24 h-4 w-full bg-black"></div>

<style>
  #border-path{
    animation: draw 1s forwards 1s ease-out
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
</style>

<script>
  function updatePath() {
    const textMain = document.querySelector('#anim-p') as HTMLElement;
    const path = document.querySelector('#border-path') as SVGPathElement;

    if (textMain && path) {
      path.setAttribute('d', `M0,0 V${textMain.offsetHeight} H${textMain.offsetWidth} v${textMain.offsetHeight / 4}`);
    }
    const pathLength = path.getTotalLength()
    path.style.strokeDasharray = pathLength.toString()
    path.style.strokeDashoffset = pathLength.toString()
  }

  function incrementCounter(selector: string, current: number, target: number, duration: number, letter: string = "") {
    let counter = document.getElementById(selector)
    let stepTime = Math.abs(Math.floor(duration / target))
    if (current < target && counter) {
      current++;
      counter.innerText = current.toString() + letter
     setTimeout(
        () => incrementCounter(selector, current, target, duration, letter),
        stepTime
      )
    }
  }

  incrementCounter("art-counter", 0, 85, 1000)
  incrementCounter("youtube-counter", 0, 320, 1000, "k")
  incrementCounter("reviews-counter", 0, 250, 1000)



  window.addEventListener('DOMContentLoaded', updatePath)
  window.addEventListener('resize', updatePath)

</script>