---
import Nav from "../pages/components/Nav";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta title={title} />
    <meta
      name="description"
      content="Digital Artist services, accessible for everyone."
    />
  </head>
  <body>
    <main>
      <Nav client:load />
      <slot />
    </main>
  </body>
</html>
